.carousel-item{
  background-color: transparent;
  overflow: visible;
  position: relative;
   
}

.carousel-item img{
  box-shadow: 10px 10px 8px #000000;
  opacity: 1;
  height: 100%;
  width: 70%;
  border : 5px solid gray;
}

.carousel-indicators {
  visibility: hidden ;
}

.carousel-caption{
  width: 60%;
  margin-left: 7.5%;
}

.carousel-fade {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-control-prev, .carousel-control-next{
   
  height: 3em;
  width: 3em !important;
  top: 50% !important;
  margin-left: 20px;
  margin-right: 20px;
  background-color: black;
  border-radius: 25%;
  
}
