.tril{
  right: 60%;
  transform: translateX(-50%);
  }
.carousel-caption{
top: 60%;
transform: translateY(-50%);
}
#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-color: black;
  opacity: 0.6;
}
#element-with-background-image {
  position: relative;
  
}



@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
.navbar-inner {
    background:transparent;
}

.robotics-logo {
    width: 220px;
    height: 60px;
}


.banner-section-bg-container {
    background-image:url("../img/background.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.proj-banner-section-bg-container {
    background-image:url("../img/projects_bgi.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.banner-heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 90px;
    font-weight: 200;
}
.banner-sub-heading{
    color: white;
    font-family: "Bree Serif";
    font-size: 40px;
    font-weight: 200;

}
.banner-caption {
    color: #f5f7fa;
    font-family: "Caveat";
    font-size: 30px;
    font-weight: 500;
}


.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #006ab0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.section-title {
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    
}

.span-title {
  color:#77E6EE;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-left:6px;
}

.sep {
    width: 45px;
    height: 7px;
    border-radius: 4px;
    background-color: #77E6EE;
    margin-top: 10px;
    margin: auto;

}
.about-us-section {
    background-color: #f9fbfe;
  }

.about-us-card {
    /* border: 1px solid; */
    /* border-color:#120078; */
    /* border-top-right-radius: 26px;
    border-bottom-left-radius: 26px; */
    padding: 10px;
    margin:auto;
    
  }
.about-us-description {
    color: #000000;
    text-align: left;
    font-family: "Quicksand";
    font-size: 19px;
    font-weight:400;
    padding-left:45px;
    padding-right:45px;
  }
.event-section{
    background-color: #f9fbfe;    
}
.event-card{
    width:768px;
    margin:auto;
    /* border-radius: 20px; */
    margin-bottom: 20px;
}
.event-name{
    padding:10px;
    color: #120078;
    border-bottom: 6px solid;
    border-color:#120078;
    background-color: white; 
    margin:auto;   
    width:400px;
}

.carousel-fade {
    left: 0;
    transform: translate3d(0, 0, 0);

}

/* project section */

.project-section{
  background-image:linear-gradient( #192c62,rgb(0, 0, 0));
  background-size: cover;
  background-attachment: fixed;
  margin: 0%; 
}





/*----  team-section  ----*/
#teamSection{
    text-align: center;
    background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
  }
#teamSection .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
#teamSection a{
    text-decoration: none;
    outline: none;
}
.card-flyer {
    border-radius: 6px;
    margin-left:30px;
    margin-right:30px;
    border-style:solid;
    border-color:#120078;
    border-width:1px;
   }
.card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;

  }
.card-flyer .image-box img{
    margin-top:30px;
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 50%;
    height: 150px;
    border-radius: 400px;
    border-style:solid;
    border-color:#120078;
    border-width:1px;

  }
.card-flyer:hover .image-box img{
    opacity: 0.8;


  }
.card-flyer .text-box{
    text-align: center;
  }
.card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
.card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
.card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
.card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 12px;
    padding-bottom: 0px; 
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Quicksand";
    text-transform: uppercase;
  }
.card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Quicksand";
    letter-spacing: 1px;
    color: #120078;
  }


.icon {
    color: black;
    padding-top: 7px;
    font-size: 25px;
    margin-left:10px;
    margin-right:10px;
}

.icon:hover {
  position: relative; 
  top: -5px;
  color:#120078;
}

@media (max-width: 800px) {
    .card-flyer {
    margin-left:65px;
    margin-right:65px;
}
}


/*----  alumni-section  ----*/
#alumniSection{
    text-align: center;
    background:white;
  }
#alumniSection .container{
    padding-top: 80px; 
    padding-bottom: 100px;
  }
#alumniSection a{
    text-decoration: none;
    outline: none;
}
.card-flyer {
    border-radius: 5px;
    margin-left:30px;
    margin-right:30px;
    border-style:solid;
    border-color:#120078;
    border-width:1px;
   }
.card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;

  }
.card-flyer .image-box img{
    margin-top:30px;
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 50%;
    height: 150px;
    border-radius: 400px;
    border-style:solid;
    border-color:#120078;
    border-width:1px;

  }
.card-flyer:hover .image-box img{
    opacity: 0.8;


  }
.card-flyer .text-box{
    text-align: center;
  }
.card-flyer .text-box .text-container{
    padding: 30px 18px;
  }
.card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
.card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
.card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 12px;
    padding-bottom: 0px; 
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Quicksand";
    text-transform: uppercase;
  }
.card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Quicksand";
    letter-spacing: 1px;
    color: #120078;
  }


.icon {
    color: black;
    padding-top: 7px;
    font-size: 25px;
    margin-left:10px;
    margin-right:10px;
}

.icon:hover {
  position: relative; 
  top: -5px;
  color:#120078;
}

@media (max-width: 800px) {
    .card-flyer {
    margin-left:65px;
    margin-right:65px;
}
}

 /* Project Section */

 a.btn {
  background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}

.filterDiv {
  float: left;
  font-size: 20px;
  background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 2px;
  display: none;
  }

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  background-color: #a69be9;
  font-size: 24px;
  border: none;
  color: white;
  font-family: 'Varela Round', sans-serif;
  padding: 25px 25px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  outline: none;
  cursor: pointer;
  top: 50%;
  -ms-transform: translateY(-50%);
}

.btn:hover {
  background-color: #36498a;
}

.btn.active {
  background-color: #36498a;
  color: rgb(0, 0, 0);
}

div.cards {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: inline-block;
  text-align: center;
  background-image:radial-gradient(#192C62,rgb(31, 31, 31)) ;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 50px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 500px;
  z-index: 1;
}
div.card img {
  width: 498px;
  height: 360px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Quicksand";
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
  font-family: "Quicksand";
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

/* footer section */
/* .footer{
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color:black;
  background-size:cover;
  text-align:center;
  padding:20px;
}
.footer-title{
  color:white;
  font-family: "Quicksand";
  font-size:30px;
  text-transform: uppercase;
}
.footer-icon {
  color: white;
  padding-top: 7px;
  font-size: 35px;
  margin-left:20px;
  margin-right:20px;
}
.footer-icon:hover{
  position: relative; 
  top: -5px;
  color:#00E676;
}  */

/*project footer section */
.wrap {
  padding: 30px;
  text-align: center;
  background-image:linear-gradient(#192C62,rgb(31, 31, 31)) ;
}

.wrap a {
  color: #fff;
}

.hover-fx {
  font-size: 36px;
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  width: 80px;
  height: 80px;
  line-height: 84px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 300ms;
}

.hover-fx:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
  box-shadow: 0 0 0 3px #fff;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 300ms;
}

.hover-fx:hover {
  background-color: #fff;
  color: #021241;
}

.hover-fx:hover:after {
  opacity: 1;
  transform: scale(1.15);
}

