#teamSection2{
  text-align: center;
  background-image: url("img/trying.jpg") ;
}
.tril{
  right: 60%;
  transform: translateX(-50%);
  }

#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1150px;
  background-color: black;
  opacity: 0.6;
}
#element-with-background-image {
  position: relative;
  
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

.banner-section-bg-container2 {

  background-image: url(img/ai_workshop.jpg);
  height: 100vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  
  background-position: 50% 20%;
}
html,body{
  height:100%;
  width: 100% ;
  font-family: 'Popins',serif;
  color: #222
}
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;

}
.nav-limk{
  font-size: 1.1cm!important;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption h1{
position: absolute;
top: 50%;
transform: translateY(-50);
}
.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding : 1rem;
}
.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}
.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.jumbotron{
  padding: 1rem;
  color:rgb(26, 16, 2);
}
.padding{
  padding-bottom: 0rem;
}
.welcome{
  width:75%;
  margin:0 auto ;
  padding-top: 2rem;
}
.welcome hr{
  border-top:2px solid #000;
  width:95%;
  margin-bottom:1rem;
  margin-top:.3rem;
}
.fa-code{
  color: #e54d26;
}
.fa-car{
  color: #413b4b;
}
.fa-building{
  color: hsl(212, 75%, 51%);
}
.fa-code,.fa-car,.fa-building{
  font-size: 4rem;
  margin: 1rem;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  max-width: 100%;
}
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}
.fa-instagram{
  color:#517fa4;
}
footer{
  background-color:#706d74;
  color: #222;
  padding-top: 2rem;
}
hr.light{
  border-top:1px solid #d5d5d5;
  width:100%;
  margin-top: 8rem;
  margin-bottom: 1rem;
}












/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel{
  width: 100%;
}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








